soap/xsd/nptypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	xmlns="http://np.systor.st/commontypes"
	attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://np.systor.st/commontypes"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Date: $Date: 2011/06/26 18:55:05 $
			Author:	$Author: karl $
			Revision: $Id: nptypes.xsd,v 1.2.2.4 2011/06/26 18:55:05 karl Exp $
			Log: $Log: nptypes.xsd,v $
			Log: Revision 1.2.2.4  2011/06/26 18:55:05  karl
			Log: Changed format for CommercialRegNumber, Allow number in OperatorID
			Log:
			Log: Revision 1.2.2.3  2011/05/27 13:21:20  karl
			Log: Added MessageCode ErrorNotification, changed pattern for Number
			Log:
			Log: Revision 1.2.2.1  2011/05/16 22:09:55  karl
			Log: PortingDatetime removed from message NpExecuteComplete
			Log:
			Log: Revision 1.1.2.8  2011/05/13 11:29:56  karl
			Log: Number length restriction changed from {11} to {3,8}
			Log:
			Log: Revision 1.1.2.7  2011/04/29 13:32:37  karl
			Log: Corrected pattern requirement for passport number (any characters, not only digits)
			Log:
			Log: Revision 1.1.2.6  2011/04/28 21:12:03  karl
			Log: Corrected typo error for MessageCode enumeration NpDeactivateComplete
			Log:
			Log: Revision 1.1.2.5  2011/04/17 18:39:17  karl
			Log: New message type: NpBillingResolutionAlertReceived
			Log:
			Log: Revision 1.1.2.4  2011/04/10 19:46:57  karl
			Log: MessageCode definition changed to message names (according to spec), new type MessageAck
			Log:
			Log: Revision 1.1.2.2  2011/04/06 10:18:15  karl
			Log: Datatype for CPR, CommercialRegNumber and PassportNumber changed from long to string (allow leading 0)
			Log:
			Log: Revision 1.1.2.1  2011/03/31 07:02:48  karl
			Log: Initial version (draft)
			Log:
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="AccessFault" type="AccessFault_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This fault indicates an NPCDB access failure.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="AccessFault_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ErrorCode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="TechnicalFault" type="TechnicalFault_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				This fault indicates an NPCDB failure (internal failure).
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="TechnicalFault_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ErrorCode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="ServiceType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Type of telephone service (Mobile, Fixed or other Services)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[MFS]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="MessageCode">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The message code corresponding to the Porting message:i.e. NpRequest
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MessageAck"/>
			<xsd:enumeration value="NpRequest"/>
			<xsd:enumeration value="NpRequestAck"/>
			<xsd:enumeration value="NpRequestAccept"/>
			<xsd:enumeration value="NpRequestReject"/>
			<xsd:enumeration value="NpRequestCancel"/>
			<xsd:enumeration value="NpExecute"/>
			<xsd:enumeration value="NpExecuteBroadcast"/>
			<xsd:enumeration value="NpExecuteComplete"/>
			<xsd:enumeration value="NpDeactivate"/>
			<xsd:enumeration value="NpDeactivateAck"/>
			<xsd:enumeration value="NpDeactivateBroadcast"/>
			<xsd:enumeration value="NpDeactivateComplete"/>
			<xsd:enumeration value="NpQuery"/>
			<xsd:enumeration value="NpQueryComplete"/>
			<xsd:enumeration value="NpBillingResolution"/>
			<xsd:enumeration value="NpBillingResolutionEnd"/>
			<xsd:enumeration value="NpBillingResolutionReceived"/>
			<xsd:enumeration value="NpBillingResolutionAlert"/>
			<xsd:enumeration value="NpBillingResolutionAlertReceived"/>
			<xsd:enumeration value="ErrorNotification"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Number">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The phone number to be ported
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{5}|[0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="SubmissionID">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Unique ID assigned by the Recipient Operator to a Porting Request
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{4}-[0-9]{4}-[0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PortID">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Unique ID assigned by the Central System to be used in messages referring to this Porting case
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{4}-[A-Z]{4}-[0-9]{8}-[0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="OperatorID">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The ID used by the Central System to identify the Donor Operator
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RoutingNumber">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The network routing number
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[ab]{1}[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RejectCode">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Used when a porting request is rejected.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="REJ[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ErrorCode">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Used for the error notification message
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="ERR[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="SimCardNumber">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The integrated Circuit Card ID as written on the SIM card
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="89[0-9]{16,17}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CompanyFlag">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Used to indicate whether the Subscriber is an individual person (N) or a company (Y)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[YN]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CPR">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Central Population Registry number
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CommercialRegNumber">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Commercial Registration Number in case of a company
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,7}[/][0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PassportNumber">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Passport number
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9A-Za-z]{5,12}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ResolutionLevel">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Text field to identify a service degradation level
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LEVEL1"/>
			<xsd:enumeration value="LEVEL2"/>
			<xsd:enumeration value="LEVEL3"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Comments">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Text field for optional additional information
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
				<xsd:pattern value="[.]{0,100}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="MessageAck_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpRequest_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" minOccurs="0"/>
			<xsd:element name="SubmissionID" type="SubmissionID" />
			<xsd:element name="DonorID" type="OperatorID" />
			<xsd:element name="RecipientID" type="OperatorID" />
			<xsd:element name="SimCardNumber" type="SimCardNumber" minOccurs="0"/>
			<xsd:element name="CompanyFlag" type="CompanyFlag" />
			<xsd:element name="CPR" type="CPR" minOccurs="0"/>
			<xsd:element name="CommercialRegNumber" type="CommercialRegNumber" minOccurs="0"/>
			<xsd:element name="PassportNumber" type="PassportNumber" minOccurs="0"/>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpRequestAccept_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="SubmissionID" type="SubmissionID" />
			<xsd:element name="DonorID" type="OperatorID" />
			<xsd:element name="RecipientID" type="OperatorID" />
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpRequestReject_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="SubmissionID" type="SubmissionID" />
			<xsd:element name="DonorID" type="OperatorID" />
			<xsd:element name="RecipientID" type="OperatorID" />
			<xsd:element name="RejectCode" type="RejectCode" />
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpRequestCancel_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="SubmissionID" type="SubmissionID" />
			<xsd:element name="DonorID" type="OperatorID" />
			<xsd:element name="RecipientID" type="OperatorID" />
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpExecuteComplete_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="DonorID" type="OperatorID" />
			<xsd:element name="RecipientID" type="OperatorID" />
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpDeactivateComplete_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="SubscriptionNetworkID" type="OperatorID" />
			<xsd:element name="BlockID" type="OperatorID" />
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpBillingResolution_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="DonorID" type="OperatorID" />
			<xsd:element name="SubscriptionNetworkID" type="OperatorID" />
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpBillingResolutionReceived_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType"/>
			<xsd:element name="MessageCode" type="MessageCode"/>
			<xsd:element name="Number" type="Number"/>
			<xsd:element name="PortID" type="PortID"/>
			<xsd:element name="DonorID" type="OperatorID"/>
			<xsd:element name="SubscriptionNetworkID" type="OperatorID"/>
			<xsd:element name="OriginationID" type="OperatorID"/>
			<xsd:element name="DestinationID" type="OperatorID"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpBillingResolutionEnd_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="DonorID" type="OperatorID" />
			<xsd:element name="SubscriptionNetworkID" type="OperatorID" />
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpBillingResolutionAlert_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="DonorID" type="OperatorID" />
			<xsd:element name="SubscriptionNetworkID" type="OperatorID" />
			<xsd:element name="ResolutionLevel" type="ResolutionLevel" />
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NpBillingResolutionAlertReceived_Type">
		<xsd:sequence>
			<xsd:element name="ServiceType" type="ServiceType" />
			<xsd:element name="MessageCode" type="MessageCode" />
			<xsd:element name="Number" type="Number" />
			<xsd:element name="PortID" type="PortID" />
			<xsd:element name="DonorID" type="OperatorID" />
			<xsd:element name="SubscriptionNetworkID" type="OperatorID" />
			<xsd:element name="OriginationID" type="OperatorID" />
			<xsd:element name="DestinationID" type="OperatorID" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ErrorNotification_Type">
		<xsd:sequence>
		<xsd:element name="MessageCode" type="MessageCode"/>
		<xsd:element name="PortID" type="PortID" minOccurs="0"/>
		<xsd:element name="RejectedMessageCode" type="MessageCode"/>
		<xsd:element name="ErrorCode" type="ErrorCode"/>
		<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		<xsd:element name="OriginationID" type="OperatorID"/>
		<xsd:element name="DestinationID" type="OperatorID"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>